@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand img{
    max-width: 100px;
}

.gradient-bg{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,61,138,1) 50%, rgba(2,0,36,1) 100%);
}

.button-comando{
    width: 250px;
    max-height: 50px;
    color: white;
    border: none;

    border-radius: 25px;
}

.button-comando:hover{
    background-color: rgba(0,0,0,0.45);
}

.bg-color1{
    background-color: rgba(2,0,36,1);
}

.bg-color2{
    background-color: rgba(11,61,138,1);
}

.items-linhas{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.items-linhas p{
    margin: 10px 0 5px 0;
}

.input-container{
    margin: 10px 0;
    width: 80%;

    display: flex;
    flex-direction: column;

}

.input-container label{
    width: 100%;
    text-align: center;
}

.table-container{
    width: 80%;
    margin: 0 auto;
}

.half{
    width: 45%;
    /* height: 250px; */

    border: 2px solid black;

    margin: 10px;
    text-align: center;
}

.container-items.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media(max-width: 992px){
    .navbar-brand img{
        max-width: 200px;

        margin: auto 0;
    }

    .half{
        width: 100%;
    }

    #main-container h1{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.itemDescri{
    border: 2px solid black;
    width: 50%;
    display: inline-block;
}